{% extends "base.html" %} {% block content %} {% load static %}
<section class="section">
  
  <section class="content">
    <div class="first- post">
      <img class="twitter_image" src="{% static 'img/twitter.png' %}" />
      <h1>Home</h1>
    </div>
    
    <!-- <section class="post_form" >
        <form action="" method=“POST” enctype="multipart/form-data">
            {% csrf_token %}
            <input class="color_blue" type="text" name="name" placeholder="Your name" required>
            <textarea name="body" placeholder="What's happening?" required></textarea>
            <div class="tweet">
                <input class="img_upload_" name="image" type="file">
                <button id="btn_blue_" type="submit">Tweet</button">
            </div>
        </form>
    </section> -->

    <section class="post_form">
      <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <input
          type="text"
          class="color_blue"
          name="name"
          placeholder=" Enter your name"
          required
        />
        <textarea name="body" placeholder="Enter something" required></textarea>
        <div class="tweet">
          <input type="file" name="image" class="img_upload_" />
          <button id="btn_blue_" type="submit">Tweet</button>
        </div>
      </form>
    </section>
    <section class="posts">
      <ul>
        {% for post in posts %}
        <li>
          <img
            class="menu_icon js-menu-icon"
            src="{% static 'img/menu.png' %}"
          />
          <div class="menu">
            <a href="edit/{{post.id}}">Edit</a><br />
            <a href="/delete/{{post.id}}/">Delete</a>
          </div>
          <div class="logo">
            <img src="{% static 'img/user.png'%}" />
          </div>
          <div class="name_body">
            <div class="name">{{post.name}}</div>
            <div class="date_time">{{post.created_at }}</div>
            <p>{{post.body}}</p>
            {% if post.image.url %}
            <img class="Image" src="{{post.image.url}}" style="width: 100%" />
            {% endif %}
            <div class="like_count">
              <a href="/like/{{post.id}}">
                <img src="/static/img/heart.png" style="width: 30px"
              /></a>
              {{post.likecount}}
            </div>
           
            
          </div>
          
        </li>
        {% endfor %}
      </ul>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/posts.js' %}"></script>
  </section>
</section>
{% endblock %}
